/* mascotas.css */
.slider {
  width: 100%;
  height: 400px; 
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 20px 0;
}

.slider ul {
  display: flex;
  width: 400%;
  height: 100%;
  margin: 0;
  padding: 0;
  animation: cambio 20s infinite alternate ease-in-out;
  position: relative;
}

.slider li {
  width: 25%;
  height: 100%;
  list-style: none;
  float: left;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes cambio {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); }
  25% { transform: translateX(-25%); }
  45% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  70% { transform: translateX(-50%); }
  75% { transform: translateX(-75%); }
  100% { transform: translateX(-75%); }
}